[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
unittest = "*"

[packages]
marshmallow = "==2.15.0"
falcon = "*"
marshmallow-peewee = "*"
falcon-marshmallow = "*"

[requires]
python_version = "3.7"
